In [24]:
import pandas as pd
import yfinance as yf
apple=pd.read_csv('D:/Kifya/week1/Data/yfinance_data/AAPL_historical_data.csv')

##Apple EDA

In [25]:
apple.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0

In [26]:
##Google EDA

In [27]:
amazon = pd.read_csv('D:\Kifya\week1\Data\yfinance_data\AMZN_historical_data.csv')

<>:1: SyntaxWarning: invalid escape sequence '\K'
<>:1: SyntaxWarning: invalid escape sequence '\K'
C:\Users\eep\AppData\Local\Temp\ipykernel_21116\3573486416.py:1: SyntaxWarning: invalid escape sequence '\K'
  amazon = pd.read_csv('D:\Kifya\week1\Data\yfinance_data\AMZN_historical_data.csv')